<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <title>BitBank</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/auth.css}" />
    <link rel="icon" th:href="@{/imagens/favicon.ico}" type="image/x-icon" />
</head>

<body>
<form th:action="@{/auth}" method="POST" th:object="${correntista}" class="form-signin">
    <div class="centered">
        <img th:src="@{/imagens/bitbank-logo.png}" alt="Logo do Bitbank" />
        <p>Por favor, autentique-se</p>

        <div th:if="${not #strings.isEmpty(mensagem)}" th:utext="${mensagem}" role="alert"></div>

        <div>
            <label for="email">Email</label>
            <input type="email" placeholder="Email" required autofocus th:field="*{email}" />
        </div>

        <div>
            <label for="senha">Senha</label>
            <input type="password" placeholder="Senha" required th:field="*{senha}" />
        </div>

        <button type="submit">Entrar</button>
    </div>
</form>
</body>
</html>
